
/* 
        11) Give a maximum width to the body and center it in the page
        12) Set every h1 to be centered
        13) Change the color of each link in the page
        14) Create a class with a border
        15) Set table to have rounded corners
        16) Add margin between every paragraph
        17) Create a class which change font size and boldness
        18) Create a class to hide a content
        19) Add a green border to each td
        20) Add a dotted red border to each tr (note: tr does not accept a border property ;-) ) */

body{
    max-width: 100vw;
    text-align: center;

}

table, td, th{
    border: 5px solid black;
    
}
table{
    width: 50%;
    margin-bottom: 20px;
}
img{
    object-fit:fill;
    height: 200px;
    width: 200px;
}
hr{
    margin-bottom: 20px;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
